{
  "openapi": "3.1.0",
  "info": {
    "title": "UnleashX - Build human like conversations | Voice Agents | Automations | AI Workforce",
    "version": "1.0.0",
    "description": "UnleashX - Your home for human like conversations"
  },
  "servers": [
    { "url": "https://api.tryunleashx.com/v1/" }
  ],
  "security": [ { "bearerAuth": [] } ],
  
  "paths": {
    "/agent": {
      "post": {
        "summary": "Create agent",
        "tags": ["Agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "language": { "type": "string" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/agent/update": {
      "post": {
        "summary": "Update agent",
        "tags": ["Agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "language": { "type": "string" }
                },
                "required": ["agent_id"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/agent/delete": {
      "post": {
        "summary": "Delete agent",
        "tags": ["Agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": { "type": "string", "format": "uuid" }
                },
                "required": ["agent_id"]
              }
            }
          }
        },
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/agent/activity-logs": {
      "get": {
        "summary": "Get agent activity logs",
        "tags": ["Agent"],
        "parameters": [
          { "name": "agent_id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },

    "/voice-agent": {
      "post": {
        "summary": "Create voice agent",
        "tags": ["Voice AI"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "language": { "type": "string" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/voice-agent/update": {
      "post": {
        "summary": "Update voice agent",
        "tags": ["Voice AI"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "voice_agent_id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "language": { "type": "string" }
                },
                "required": ["voice_agent_id"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/voice-agent/delete": {
      "post": {
        "summary": "Delete voice agent",
        "tags": ["Voice AI"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "voice_agent_id": { "type": "string", "format": "uuid" }
                },
                "required": ["voice_agent_id"]
              }
            }
          }
        },
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/voice-agent/all": {
      "get": {
        "summary": "List voice agents",
        "tags": ["Voice AI"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/voice-agent/activity-logs": {
      "get": {
        "summary": "Get voice agent activity logs",
        "tags": ["Voice AI"],
        "parameters": [
          { "name": "voice_agent_id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },

    "/phone-number/all": {
      "get": {
        "summary": "List phone numbers",
        "tags": ["Phone Numbers"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/phone-number/import": {
      "post": {
        "summary": "Import phone numbers",
        "tags": ["Phone Numbers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "numbers": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["numbers"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Imported" } }
      }
    },

    "/call-logs": {
      "get": {
        "summary": "Get call logs",
        "tags": ["Call Logs"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/call-history": {
      "get": {
        "summary": "Get call history",
        "tags": ["Call Logs"],
        "responses": { "200": { "description": "OK" } }
      },
      "delete": {
        "summary": "Delete call history",
        "tags": ["Call Logs"],
        "responses": { "204": { "description": "Deleted" } }
      }
    },

    "/chat-agent": {
      "post": {
        "summary": "Create chat agent",
        "tags": ["Chatbots"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "language": { "type": "string" },
                  "prompt": { "type": "string" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/chat-agent/update": {
      "post": {
        "summary": "Update chat agent",
        "tags": ["Chatbots"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_agent_id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "language": { "type": "string" },
                  "prompt": { "type": "string" }
                },
                "required": ["chat_agent_id"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/chat-agent/delete": {
      "post": {
        "summary": "Delete chat agent",
        "tags": ["Chatbots"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_agent_id": { "type": "string", "format": "uuid" }
                },
                "required": ["chat_agent_id"]
              }
            }
          }
        },
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/chat-agent/all": {
      "get": {
        "summary": "List chat agents",
        "tags": ["Chatbots"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/chat-agent/conversations": {
      "get": {
        "summary": "Get chat agent conversations",
        "tags": ["Chatbots"],
        "parameters": [
          { "name": "chat_agent_id", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/conversations": {
      "get": {
        "summary": "Get conversations",
        "tags": ["Chatbots"],
        "parameters": [
          { "name": "conversation_id", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },

    "/form": {
      "post": {
        "summary": "Create form",
        "tags": ["Forms"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "fields": { "type": "array", "items": { "type": "object" } },
                  "description": { "type": "string" }
                },
                "required": ["name", "fields"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/form/update": {
      "post": {
        "summary": "Update form",
        "tags": ["Forms"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form_id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "fields": { "type": "array", "items": { "type": "object" } },
                  "description": { "type": "string" }
                },
                "required": ["form_id"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/form/delete": {
      "post": {
        "summary": "Delete form",
        "tags": ["Forms"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form_id": { "type": "string", "format": "uuid" }
                },
                "required": ["form_id"]
              }
            }
          }
        },
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/form/all": {
      "get": {
        "summary": "List forms",
        "tags": ["Forms"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/form/data": {
      "get": {
        "summary": "Get form data",
        "tags": ["Forms"],
        "parameters": [
          { "name": "form_id", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },

    "/workflow/all": {
      "get": {
        "summary": "List workflows",
        "tags": ["Workflows"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/workflow": {
      "get": {
        "summary": "Get workflow",
        "tags": ["Workflows"],
        "parameters": [
          { "name": "workflow_id", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" }, "404": { "description": "Not Found" } }
      }
    },

    "/user": {
      "post": {
        "summary": "Create user",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "role": { "type": "string" }
                },
                "required": ["name", "email"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      },
      "get": {
        "summary": "Get user",
        "tags": ["Users"],
        "parameters": [
          { "name": "user_id", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" }, "404": { "description": "Not Found" } }
      }
    },
    "/user/all": {
      "get": {
        "summary": "List users",
        "tags": ["Users"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/user/delete": {
      "post": {
        "summary": "Delete user",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": { "type": "string", "format": "uuid" }
                },
                "required": ["user_id"]
              }
            }
          }
        },
        "responses": { "204": { "description": "Deleted" } }
      }
    },

    "/workspace/all": {
      "get": {
        "summary": "List workspaces",
        "tags": ["Workspaces"],
        "responses": { "200": { "description": "OK" } }
      }
    },

    "/call": {
      "post": {
        "summary": "Make a call",
        "tags": ["Making phone calls"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": { "type": "string", "format": "uuid" },
                  "recipient_phone_number": { "type": "string" },
                  "from_phone_number": { "type": "string" },
                  "user_data": { "type": "object", "additionalProperties": true }
                },
                "required": ["agent_id", "recipient_phone_number"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/call/all": {
      "get": {
        "summary": "List calls",
        "tags": ["Executions & calls data"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/call/{call_id}": {
      "get": {
        "summary": "Get call by ID",
        "tags": ["Executions & calls data"],
        "parameters": [
          { "name": "call_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" }, "404": { "description": "Not Found" } }
      }
    },

    "/inbound-agent/all": {
      "get": {
        "summary": "List inbound agents",
        "tags": ["Inbound Agents"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/batch": {
      "post": {
        "summary": "Create batch",
        "tags": ["Batches"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "agent_id": { "type": "string", "format": "uuid" },
                  "recipients": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["name", "agent_id", "recipients"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/knowledgebase/all": {
      "get": {
        "summary": "List knowledgebases",
        "tags": ["Knowledgebases"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/provider/all": {
      "get": {
        "summary": "List providers",
        "tags": ["Providers"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/sub-account/all": {
      "get": {
        "summary": "List sub accounts",
        "tags": ["Sub accounts"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/voice/all": {
      "get": {
        "summary": "List voices",
        "tags": ["Voices"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/user/me": {
      "get": {
        "summary": "Get current user",
        "tags": ["User"],
        "responses": { "200": { "description": "OK" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  }
}
