{
  "openapi": "3.1.0",
  "info": {
    "title": "UnleashX API",
    "version": "2.0.0",
    "description": "UnleashX Voice AI HTTP API"
  },
  "servers": [
    { "url": "https://api.tryunleashx.com/v2" }
  ],
  "security": [ { "bearerAuth": [] } ],
  "paths": {
    "/agent/all": {
      "get": {
        "summary": "List agents",
        "description": "Returns all agents",
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/agent": {
      "post": {
        "summary": "Create agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "language": { "type": "string" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created" }
        }
      }
    },
    "/call": {
      "post": {
        "summary": "Make a call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": { "type": "string", "format": "uuid" },
                  "recipient_phone_number": { "type": "string" },
                  "from_phone_number": { "type": "string" },
                  "user_data": { "type": "object", "additionalProperties": true }
                },
                "required": ["agent_id", "recipient_phone_number"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/call/all": {
      "get": {
        "summary": "List calls",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/call/{call_id}": {
      "get": {
        "summary": "Get call by ID",
        "parameters": [
          { "name": "call_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" }, "404": { "description": "Not Found" } }
      }
    },
    "/phone-number/all": {
      "get": { "summary": "List phone numbers", "responses": { "200": { "description": "OK" } } }
    },
    "/phone-number/purchase": {
      "post": {
        "summary": "Purchase a phone number",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": { "type": "string" },
                  "area_code": { "type": "string" }
                },
                "required": ["country"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/inbound-agent/all": {
      "get": { "summary": "List inbound agents", "responses": { "200": { "description": "OK" } } }
    },
    "/batch": {
      "post": {
        "summary": "Create batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "agent_id": { "type": "string", "format": "uuid" },
                  "recipients": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["name", "agent_id", "recipients"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/knowledgebase/all": {
      "get": { "summary": "List knowledgebases", "responses": { "200": { "description": "OK" } } }
    },
    "/provider/all": {
      "get": { "summary": "List providers", "responses": { "200": { "description": "OK" } } }
    },
    "/sub-account/all": {
      "get": { "summary": "List sub accounts", "responses": { "200": { "description": "OK" } } }
    },
    "/voice/all": {
      "get": { "summary": "List voices", "responses": { "200": { "description": "OK" } } }
    },
    "/user/me": {
      "get": { "summary": "Get current user", "responses": { "200": { "description": "OK" } } }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  }
}