{
  "openapi": "3.1.0",
  "info": {
    "title": "UnleashX API",
    "version": "2.0.0",
    "description": "UnleashX Voice AI HTTP API"
  },
  "servers": [
    { "url": "https://api.tryunleashx.com/v2" }
  ],
  "security": [ { "bearerAuth": [] } ],
  "tags": [
    { "name": "Agent" },
    { "name": "Making phone calls" },
    { "name": "Executions & calls data" },
    { "name": "Phone numbers" },
    { "name": "Inbound Agents" },
    { "name": "Batches" },
    { "name": "Knowledgebases" },
    { "name": "Providers" },
    { "name": "Sub accounts" },
    { "name": "Voice" },
    { "name": "User" }
  ],
  "paths": {
    "/agent/all": {
      "get": {
        "summary": "List agents",
        "description": "Returns all agents",
        "tags": ["Agent"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/agent": {
      "post": {
        "summary": "Create agent",
        "tags": ["Agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "language": { "type": "string" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/call": {
      "post": {
        "summary": "Make a call",
        "tags": ["Making phone calls"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": { "type": "string", "format": "uuid" },
                  "recipient_phone_number": { "type": "string" },
                  "from_phone_number": { "type": "string" },
                  "user_data": { "type": "object", "additionalProperties": true }
                },
                "required": ["agent_id", "recipient_phone_number"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/call/all": {
      "get": {
        "summary": "List calls",
        "tags": ["Executions & calls data"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/call/{call_id}": {
      "get": {
        "summary": "Get call by ID",
        "tags": ["Executions & calls data"],
        "parameters": [
          { "name": "call_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" }, "404": { "description": "Not Found" } }
      }
    },
    "/phone-number/all": {
      "get": {
        "summary": "List phone numbers",
        "tags": ["Phone numbers"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/phone-number/purchase": {
      "post": {
        "summary": "Purchase a phone number",
        "tags": ["Phone numbers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": { "type": "string" },
                  "area_code": { "type": "string" }
                },
                "required": ["country"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/inbound-agent/all": {
      "get": {
        "summary": "List inbound agents",
        "tags": ["Inbound Agents"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/batch": {
      "post": {
        "summary": "Create batch",
        "tags": ["Batches"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "agent_id": { "type": "string", "format": "uuid" },
                  "recipients": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["name", "agent_id", "recipients"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/knowledgebase/all": {
      "get": {
        "summary": "List knowledgebases",
        "tags": ["Knowledgebases"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/provider/all": {
      "get": {
        "summary": "List providers",
        "tags": ["Providers"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/sub-account/all": {
      "get": {
        "summary": "List sub accounts",
        "tags": ["Sub accounts"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/voice/all": {
      "get": {
        "summary": "List voices",
        "tags": ["Voice"],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/user/me": {
      "get": {
        "summary": "Get current user",
        "tags": ["User"],
        "responses": { "200": { "description": "OK" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    }
  }
}